node_modules/
dist/
.env
.env.local
.next/
.env
*.Zone.Identifier
target/
check.js
check_tokens.js
target/deploy/*-keypair.json
id.json
*keypair*.json
target/deploy/*-keypair.json
id.json
*keypair*.json
